In [4]:
import os 
import pandas as pd
import numpy as np


os.chdir('C:\\Users\\BTHANISH\\Documents\\Thanish\\Competition\\Analytics Vidya\\WNS')

In [5]:
LGB_8 = pd.read_csv('sub_LGB_8.csv') 
LGB_14 = pd.read_csv('sub_LGB_14.csv')
XGB_7 = pd.read_csv('sub_XGB_7.csv')

In [6]:
ens = pd.concat([LGB_8, LGB_14.loc[:,['is_promoted']], XGB_7.loc[:,['is_promoted']]], axis = 1, 
              join_axes=[LGB_8.index])
ens.columns = ['employee_id', 'LGB_8','LGB_14', 'XGB_7']
ens.tail()

       employee_id  LGB_8  LGB_14  XGB_7
23485        53478      0       0      0
23486        25600      0       0      0
23487        45409      0       0      0
23488         1186      0       0      0
23489         5973      1       1      1

In [7]:
ens['is_promoted'] = ens[['LGB_8', 'LGB_14', 'XGB_7']].mode(axis = 1)
ens.tail()

       employee_id  LGB_8  LGB_14  XGB_7  is_promoted
23485        53478      0       0      0            0
23486        25600      0       0      0            0
23487        45409      0       0      0            0
23488         1186      0       0      0            0
23489         5973      1       1      1            1

In [8]:
sub_ens = ens[['employee_id', 'is_promoted']]
sub_ens.to_csv('sub_ens_LGB_8_LGB_14_XGB_7.csv', index = False)
sub_ens.head()

   employee_id  is_promoted
0         8724            0
1        74430            0
2        72255            0
3        38562            0
4        64486            0